@use 'grid-templates';
@use '../src/variables';

// Font Families
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

// Initial Settings
*
{
	margin: 0;
	padding: 0;
	font-family: 'Courier Prime', monospace;
}

img
{
	width: 100%;
	height: auto;
}

// **************************************************************************************************************
// Index Page Template w/ Hero

.grid-container-index
{
	margin-top: 10px;

	display: grid;

	grid-template-columns: 1rem minmax(5rem, 6rem) repeat(12, 1fr) 1rem;

	grid-template-rows: 100px calc(100vh - 140px) 1rem minmax(4rem, max-content) auto 200px;

	gap: 8px;

	grid-template-areas: grid-templates.$hero-index;
}

@media only screen and (max-width: variables.$large-breakpoint)
{
	.grid-container-index
	{
		grid-template-areas: grid-templates.$mobile-hero-index;
	}
}

@media only screen and (max-width: variables.$small-breakpoint)
{
	.grid-container-index
	{
		grid-template-rows: 150px calc(100vh - 170px) 1rem minmax(4rem, max-content) auto 200px;
	}
}

// **************************************************************************************************************
// Page Template w/ Sidebar

.grid-container-sidebar
{
	margin-top: 10px;

	display: grid;

	grid-template-columns: 1rem minmax(5rem, 6rem) repeat(12, 1fr) 1rem;

	grid-template-rows: 100px minmax(4rem, max-content) auto 200px;
	
	

	gap: 8px;

	grid-template-areas: grid-templates.$sidebar;
}

@media only screen and (max-width: variables.$large-breakpoint)
{
	.grid-container-sidebar
	{
		grid-template-areas: grid-templates.$mobile-sidebar;
	}
}

@media only screen and (max-width: variables.$small-breakpoint)
{
	.grid-container-sidebar
	{
		grid-template-rows: 150px minmax(4rem, max-content) auto 200px;
	}
}

// **************************************************************************************************************
// Post Template w/ No Sidebar

.grid-container-post
{
	margin-top: 10px;

	display: grid;

	grid-template-columns: 1rem minmax(5rem, 6rem) repeat(12, 1fr) 1rem;

	grid-template-rows: 100px auto 200px;

	gap: 8px;

	grid-template-areas: grid-templates.$post;
}

@media only screen and (max-width: variables.$large-breakpoint)
{
	.grid-container-post
	{
		grid-template-areas: grid-templates.$mobile-post;
	}
}

@media only screen and (max-width: variables.$small-breakpoint)
{
	.grid-container-post
	{
		grid-template-rows: 150px auto 200px;

		grid-template-areas: grid-templates.$e-mobile-post;
	}
}